<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Our team</h2>

    <div class="col-sm-8 col-sm-offset-2">
      <p>Curabitur sagittis lacus in dui vehicula aliquam. Maecenas ac posuere odio, et porta mi. Quisque diam tellus, laoreet nec auctor a, aliquam eu nulla. Curabitur efficitur ligula at risus volutpat, vitae volutpat sapien faucibus.</p>
    </div>
  </div>
</div>
<div class="row">
  {{#each people as |mate|}}
  <div class="teammate col-sm-6 col-md-3 text-center">
    <div class="teammate-photo" style="background-image: url(/assets/{{mate.photoName}})"></div>
    <div class="teammate-name">{{mate.name}}</div>
    <div class="teammate-position">{{mate.position}}</div>
    <div class="teammate-description">{{mate.desc}}</div>
    <p>{{service.desc}}</p>
    <div class="teammate-links">
      <a href="#"><i class="fi flaticon-facebook-app-logo"></i></a>
      <a href="#"><i class="fi flaticon-twitter-logo-on-black-background"></i></a>
      <a href="#"><i class="fi flaticon-linkedin-sign"></i></a>
    </div>
  </div>
  {{/each}}
</div>

<div class="brands">
  <img src="/assets/logo-nike.svg" alt="">
  <img src="/assets/logo-ms.svg" alt="">
  <img src="/assets/logo-github.svg" alt="">
</div>
