<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Contact</h2>

    <p>Curabitur sagittis lacus in dui vehicula aliquam. Maecenas ac posuere odio, et porta mi. Quisque diam tellus, laoreet nec auctor a, aliquam eu nulla. Curabitur efficitur ligula at risus volutpat, vitae volutpat sapien faucibus.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form action={{action 'formSubmit'}}>
      <div class="form-group">
        {{input class="form-control" placeholder="Name"}}
      </div>
      <div class="form-group">
        {{input class="form-control" placeholder="Email"}}
      </div>
      <div class="form-group">
        {{input class="form-control" placeholder="Subject"}}
      </div>
      <div class="form-group">
        {{textarea class="form-control" placeholder="Message"}}
      </div>

      <button class="col-xs-4 col-xs-offset-4 btn btn-link grey">Submit</button>
    </form>
  </div>
</div>

<div class="row address-info">
  <div class="col-xs-12">
    <h5>Address</h5>
    <p>307 5th Ave, 16th floor</p>
    <p>New York, NY 10016</p>

    <h5>Phone</h5>
    <p>212-222-1234</p>

    <h5>Fax</h5>
    <p>212-630-7862</p>

    <h5>Email</h5>
    <a href="mailto:info@somecompany.com">info@somecompany.com</a>

    <h5>Connect</h5>
    <p class="social-links">
      <a href="#"><i class="fi flaticon-facebook-app-logo"></i></a>
      <a href="#"><i class="fi flaticon-twitter-logo-on-black-background"></i></a>
      <a href="#"><i class="fi flaticon-linkedin-sign"></i></a>
      <a href="#"><i class="fi flaticon-pinterest-sign"></i></a>
      <a href="#"><i class="fi flaticon-vimeo-square-logo"></i></a>
    </p>
  </div>
</div>